[Alias]
    st = status
    ctags = !.git/hooks/ctags
    ci = commit
    df = diff
    changes = diff - name-status
    oneline = log - pretty = online - abbrev-commit - graph
    undo = git reset - soft HEAD ^
    amend = commit - amend
[user]
	name = Arun K. R. <kra3>
    email = the1.arun@gmail.com
[push]
	default = simple
[merge]
    tool = mymeld
	conflictstyle = diff3
[mergetool "mymeld"]
    cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
[init]
    templatedir = ~/.git_template
