[Alias]
    st = status
    ctags = !.git/hooks/ctags
    ci = commit
    df = diff
    changes = diff - name-status
    oneline = log - pretty = online - abbrev-commit - graph
    undo = git reset - soft HEAD ^
    amend = commit - amend
[user]
	name = Arun K. R. <kra3>
    email = the1.arun@gmail.com
[push]
	default = simple
[init]
            templatedir = ~/.git_template
