[Alias]
    st = status
    ctags = !.git/hooks/ctags
    ci = commit
    df = diff
    changes = diff --name-status
    oneline = log --pretty=oneline --abbrev-commit --graph
    undo = reset --soft HEAD ^
    amend = commit --amend
[user]
	name = kra3\n
    email = the1.arun@gmail.com
[merge]
    tool = mymeld
	conflictstyle = diff3
[mergetool "mymeld"]
    cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGED
[diff]
    tool = meld
[init]
    templatedir = ~/.git_template
[push]
	default = current
[http]
	postBuffer = 524288000
