[submodule "tmux/addon"]
	path = tmux/addon
	url = git://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "screen/addon"]
	path = screen/addon
	url = git://github.com/thewtex/screen-cpu-mem.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "virtualenv_wrapper_hooks"]
	path = virtualenv_wrapper_hooks
	url = https://gist.github.com/6224580.git
