!You may want to run $ xrdb -merge ~/.Xresources with each update

!Xft settings:

Xft*dpi:                96
Xft*hinting:            true
! hintstyle 3 for flat-panel displays 
Xft*hintstyle:          2
Xft*antialias:          true
! uncomment/adjust for flat-panel display
Xft*rgba:              rgb


! URxvt settings

URxvt*font:              -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*boldFont:          -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
URxvt*loginShell:        true
URxvt*scrollBar:         false 
!URxvt*scrollstyle:      plain 
!URxvt*scrollBar_right:  true
URxvt*termName:          rxvt-unicode-256color
URxvt.buffered:          true
URxvt.perl-ext:          default,matcher
URxvt.urlLauncher:       /usr/bin/firefox
URxvt.matcher.button:    1 
URxvt.transparent:       True
URxvt.shading:           25
URxvt*background:        #2b2b2b
URxvt*foreground:        #4db41e
URxvt*cursorColor:       #aaaaaa
URxvt*colorUL:           #366060
URxvt*underlineColor:    #dfaf8f
URxvt*color0:            #2b2b2b
URxvt*color1:            #cc9393
URxvt*color2:            #7f9f7f
URxvt*color3:            #d0bf8f
URxvt*color4:            #6ca0a3
URxvt*color5:            #dc8cc3
URxvt*color6:            #93e0e3
URxvt*color7:            #dcdccc
URxvt*color8:            #000000
URxvt*color9:            #dca3a3
URxvt*color10:           #bfebbf
URxvt*color11:           #f0dfaf
URxvt*color12:           #8cd0d3
URxvt*color13:           #dc8cc3
URxvt*color14:           #93e0e3
URxvt*color15:           #ffffff


! UXTerm settings:

UXTerm*loginShell:       true
UXTerm*termName:         xterm-256color
UXTerm*faceName:         Terminus  
UXTerm*faceSize:         12
UXTerm*font: xft:        xft:Terminus 
UXTerm*saveLines:        32767
UXTerm*scrollTtyKey:     true
UXTerm*scrollKey:        true
UXTerm*scrollTtyOutput:  false
UXTerm*scrollBar:        false 
UXTerm*VT100.geometry:   80x24
UXTerm*rightScrollBar:   true
UXTerm*jumpScroll:       true
UXTerm*multiScroll:      true
UXTerm*toolBar:          false
UXTerm*metaSendsEscape:  true
!UXTerm*cursorColor:      green
UXTerm*cursorBlink:      true
UXTerm*cursorOffTime:    500
UXTerm*cursorOnTime:     500
UXTerm*reverseVideo:     false
UXTerm*colorBD:          white
UXTerm*colorBDMode:      true
UXTerm*colorRVMode:      false
UXTerm*colorULMode:      true
UXTerm*wideChars:        false
UXTerm*boldMode:         false
UXTerm*background:       #2b2b2b
UXTerm*foreground:       #4db41e 
UXTerm*cursorColor:      #aaaaaa
UXTerm*colorUL:          #366060
UXTerm*underlineColor:   #dfaf8f
UXTerm*color0:           #2b2b2b
UXTerm*color1:           #cc9393
UXTerm*color2:           #7f9f7f
UXTerm*color3:           #d0bf8f
UXTerm*color4:           #6ca0a3
UXTerm*color5:           #dc8cc3
UXTerm*color6:           #93e0e3
UXTerm*color7:           #dcdccc
UXTerm*color8:           #000000
UXTerm*color9:           #dca3a3
UXTerm*color10:          #bfebbf
UXTerm*color11:          #f0dfaf
UXTerm*color12:          #8cd0d3
UXTerm*color13:          #dc8cc3
UXTerm*color14:          #93e0e3
UXTerm*color15:          #ffffff

! http://blog.ssokolow.com/archives/2011/05/01/modernizing-xterms-paste/
! {{{ Quick Reference
!
! Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste:
!   Mouse-Select        : Copy to PRIMARY
!   Shift + Mouse-Select: Copy to CLIPBOARD
!
!   Middle-Click        : Paste from PRIMARY
!   Shift + Middle-Click: Paste from CLIPBOARD
!
!   Ctrl+Shift+V        : Paste from CLIPBOARD
!   Ctrl+Alt+Shift+V    : Paste from PRIMARY
!

*VT100.Translations: #override \
                    Shift <Key>Up:              scroll-back(1) \n\
                    Shift <Key>Down:            scroll-forw(1) \n\
                    ~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
                     Meta Shift Ctrl <Key>V:    insert-selection(PRIMARY) \n\
                    ~Shift <Btn1Up>:            select-end(PRIMARY, CUT_BUFFER0) \n\
                     Shift <Btn1Up>:            select-end(CLIPBOARD, CUT_BUFFER1) \n\
                    ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
                     Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)
                     

